*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.con1
{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(216, 152, 56);
    color: aliceblue;
}

body
{
     /* background-color: rgba(76, 37, 113,0.5 ); */
     background-color: #DFF2EB;
}

.con2
{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-top: 10px;
    background-color: blanchedalmond;

}

.con3
{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-top: 10px;
    background-color:hsl(46, 54%, 56%);
}

.con2 > p{

    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}

.con2 >button
{
    padding: 10px 20 px;
    border-radius: 20%;
    font-weight: bold;
    color: white;
    background-color: aquamarine;
}

.con2>button:hover{
    background-color:#144613 ;
}



