/* ! 1. tagname selector */
/* p{
    color: rgb(184, 23, 23);

}  */
/* ! 2. idselector */
/*
#p1{
    color: rgb(6, 6, 174);
} 

#p2{
    color: rgb(244, 19, 241);
} */

/* ! 3.  class selector */
/*
.para{
    color: blueviolet;
}*/

/* ! 4.  universal selector */
*{
    color: rgb(184, 247, 11);
}

/* ! 5.  group selector */
h1,#p1,li{
    color: brown;
}