*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      
    background: linear-gradient(to right,violet,pink, white);
}

.inner
{
    height: 300px;
    width: 300px;
   /* border: 2px solid black; */
   box-shadow: 2px 2px 2px rgb(71, 70, 70);
   background-color: rgb(172, 239, 237);
   transition: all 2s ease-in ;
   cursor: pointer;
}

.inner:hover{

   /* transform: translateX(200px); */
  /* /transform: translateY(-200px);/ */
/* transform: translate(-200px ,-200px); */
/* transform: scale(1.5); */
/* transform: translateX(200px) scale(1.5); */
/* transform:  rotate(360deg);  */
/* transform: skew(90deg) ; */
/* transform:  translateX( 200px) scale(1.5) rotate(360deg); */



}