*{
    padding: 0;
    margin: 0;
}

div
{
    padding: 20px;
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

div h1
{
    /* margin: 10px; */
    flex-basis: 25%;
    text-transform: capitalize;
}